.App {
  text-align: center;
}


/* Tablet and Laptop view */

.card {
  box-shadow: 16px 14px 20px #0000008c;
}

.card::before {
  content: "";
  background-image: conic-gradient(#ff0052 20deg, transparent 120deg);
  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 2s linear infinite;
}

.card::after {
  content: "";
  width: 690px;
  height: 457px;
  background: #ffffff;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff0052;
  box-shadow: inset 20px 20px 20px #0000008c;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.glass {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.272);
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
}

.glassButton {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.322);
}

.follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

/* cellphone view */

.cellCard {
  box-shadow: 16px 14px 20px #0000008c;
}

.cellCard::before {
  content: "";
  background-image: conic-gradient(#ff0052 20deg, transparent 120deg);
  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 2s linear infinite;
}

.cellCard::after {
  content: "";
  width: 99%;
  height: 99%;
  background: #ffffff;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff0052;
  box-shadow: inset 20px 20px 20px #0000008c;
}


